:root {
    --nav-height: 100px;
    /* AKan diganti di JS */
}

body {
    font-family: 'Inter', sans-serif !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
}

.h-fit {
    min-height: calc(100vh - var(--nav-height));
}

.hover-rise {
    transition: transform 0.2s;
}

.hover-rise:hover {
    transform: translateY(-4px);
}

.btn-orange {
    background-color: #F57343;
    color: white;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    background-color: #fb8357;
    color: white;
    border: 1px solid white;
}

/* Swup */

.transition-none,
html.is-animating .transition-none,
html.is-animating.is-leaving .transition-none {
    transition: opacity 0.3s, transform 0.4s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.transition-fade {
    transition: opacity 0.3s, transform 0.4s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
}

html.is-animating.is-leaving .transition-fade {
    transform: translate3d(0, 30px, 0);
}
